<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CES2022_Telestar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CES2022_Telestar.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="body">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow">
            <div class="logoContainer">
                <div class="row">
                     <div class="col d-flex align-items-center">
                        <img src="~/Content/Images/telstar.jpg" class="logoImg"/>
                     </div>
                     <div class="col d-flex align-items-center">
                        <a id="title" class="navbar-brand white" asp-page="/Index">TELSTAR LOGISTICS</a>
                     </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <style>
        .body {
            margin: 0px;
        }
        main {
            padding-bottom: 0px;
        }
        #title {
          font-family: 'Roboto', sans-serif;
          font-size: 30px;
          font-weight: bold;
          font-style: italic;
          color: white;
        }
        .logoContainer {
             margin-left: 40px; 
        }
        .logoImg {
            height: 70px;
            border-radius: 5px;
        }
      </style>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>